*{
    margin: 0;
    padding: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

.button-primary{
    background: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Style */

/* Navbar Style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* Banner Related Style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    margin-top: 116px;
}

.banner-description{
    margin: 32px 0;
    color: #727272;
    font-size: 1rem;
}

.banner-image{
    width: 100%;
    padding-bottom: 24px;
}

/* Team and Features Related Style */
.team-section{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


.quick-list{
    font-weight: 500;
}

.feature-description{
    margin: 32px 0 24px 0;
    line-height: 24px;
    font-size: 16px;
}


/* Some Facts Related Style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

.some-facts p{
    font-size: 16px;
    line-height: 26px;
    width: 542px;
    margin: 24px 0 120px 0;
}

/* Sponsor Related Style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}


/* Features Will Enjoy */
.feature-section-title{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.features{
    gap: 140px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

.experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.featured-architect img{
    width: 100%;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .team-section{
        flex-direction: column;
    }

    .team-image-container, .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }

    .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    }

    #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
    }
}


/* Medium Size Device */
@media screen and (min-width: 576px) and (max-width:992px){
    .team-section{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
    }

    #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
    }
}